.hidden-game {

    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    z-index: 5;
}

.hidden-game.playing {
    cursor: url('https://marclopezavila.github.io/planet-defense-game/img/aim_red.png') 17.5 17.5,auto !important;
}

.display-none-class {
    display: none;
}